<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Venue registration</title>
    <link rel="icon" th:href="@{images/Ball.png}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration_styles.css}">
    <script type="text/javascript" th:src="@{js/venue_registration_js.js}"></script>
</head>
<body>
<!--
<div th:include="navbar.html"></div>
-->
<div th:align="center" class="box">
    <h2>Venue Registration</h2>
    <form th:action="@{/venue/registration}" th:method="post" th:object="${emptyVenue}">
        <div class="user_input">
            <input type="text" th:field="*{name}" required="required"><br>
            <label th:for="name" th:text="Name"></label>
            <p id="name_errors" class="errors"></p>
            <p id="name_duplicate_errors" class="errors" th:text="${duplicate_venue_name_error}"></p>
        </div>
        <div class="user_input">
            <select th:field="*{countryId}">
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${#strings.capitalize(#strings.toLowerCase(country.name))}">
                </option>
            </select>
            <p id="country_not_found_errors" class="errors" th:text="${country_not_found_error}"></p>
        </div>
        <div class="user_input">
            <input type="text" th:field="*{city}" required="required"><br>
            <label th:for="city" th:text="City"></label>
            <p id="city_errors" class="errors"></p>
        </div>
        <div class="user_input">
            <input type="number" th:field="*{capacity}" required="required"><br>
            <label th:for="capacity" th:text="Capacity"></label>
            <p id="capacity_errors" class="errors"></p>
        </div>
        <div class="save_btn save_button">
            <button type="submit" class="button" id="button">Save</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>